.h-full {
    height: 100%;
}


.flex {
    display: flex;
}
.flexcol {
    .flex();
    flex-direction: column;
}
.flex-1 {
    flex: 1;
}
.flex-center{
    align-items: center;
    justify-content: center;
}
.align-items-center{
    align-items: center;
}
.justify-content-end{
    justify-content: flex-end
}

.overflow-auto {
    overflow: auto;
}
.overflow-hidden {
    overflow: hidden;
}

.cursor-pointer{
    cursor: pointer;
}


.text-align-center{
    text-align: center
}
.bg-white{
    background: white;
}
.bg-gray{
    background: #ededed;
}
.br-4{
    border-radius: 4px;
}


.p-12{
    padding: 12px;
}
.p-h-12{
    padding: 0 12px;
}
.m-bottom-12{
    margin-bottom: 12px
}
.m-left-10{
    margin-left:10px
}
.m-left-4{
    margin-left: 4px
}


.fz-18{
    font-size: 18px;
}
.fw-medium{
    font-weight: 500;
}
